div#pruebaConduccion section{
    height: 100vh;
}

div#pruebaConduccion section article h1{
    font-size: 1.75rem;
    font-weight: 600;
}

div#pruebaConduccion section article p{
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    font-weight: 500;
}

div#pruebaConduccion section img{
    width: 100%;
    object-fit: cover;
}