* {
  box-sizing: border-box;
  --btnWhite: #e9eaeb;
  --btnLightBrown: #4a4b4d;
}

html {
  font-size: 16px;
}

body {
  padding: 0;
  overflow-x: hidden;
}

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}
div.container-fluid {
  margin: 0;
}

/*Tesla Name Logo*/
svg.teslaNameLogo {
  width: 6em;
}

/*VIDEO*/
video,
img.sectionImg {
  height: 100vh;
  object-fit: cover;
}

/* Extra small devices (portrait phones, less than 576px) */
/*   No media query since this is the default in Bootstrap */

div.register-alert {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 0.8rem;
  letter-spacing: 0em;
}
div.navbar-brand {
  width: 6.5em;
  background-color: rgba(0, 0, 0, 0);
}

button.navbar-toggler {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

ul.navbar-Icons svg {
  width: 1.5em;
}
nav ul.navbar-nav {
  font-weight: 600;
}
nav li:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

/*FOOTER*/
footer {
  background-color: black;
}

footer ul li.list-group-item {
  background-color: black;
  border: none;
}

footer ul li.list-group-item a {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
}

/*Section Sliders*/
section.sliders {
  position: relative;
}

section.sliders div.headers,
section.sliders div.footerBtns {
  position: absolute;
  z-index: 1;
}

section.sliders div.headers {
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin: auto;
}

section.sliders div.headers h3 {
  font-size: 3rem;
  font-weight: 700;
}
section.sliders div.headers h3.brown {
  color: var(--btnLightBrown);
}

section.sliders div.headers p {
  font-size: 0.9rem;
}

section.sliders div.footerBtns {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin: auto;
}

section.sliders div.footerBtns button {
  border: 4px solid snow;

  width: 100%;
  margin: auto;
}

section.sliders.others div.footerBtns div {
  gap: 1em;
}

section.sliders.others a {
  color: var(--btnLightBrown);
  font-weight: 600;
  font-size: 1rem;
}
section.sliders.others div.footerBtns div button {
  border: none;
  font-size: 1rem;
  font-weight: 600;
}

section.sliders.others div.footerBtns div button:first-child {
  background-color: var(--btnLightBrown);
  color: var(--btnWhite);
}

section.sliders.others div.footerBtns div button:last-child {
  background-color: var(--btnWhite);
  color: var(--btnLightBrown);
}

/*
white #E9EAEB
light brown #4A4B4D
*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Register Alert Y Menú */
  div.register-alert {
    font-size: 0.9rem;
  }
  div.navbar-brand {
    width: 10em;
  }
  section.sliders div.footerBtns button {
    width: 75%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Register Alert Y Menú */
  div.register-alert {
    font-size: 1rem;
  }
  footer ul li.list-group-item a {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
  }
  section.sliders div.footerBtns button {
    width: 50%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Register Alert Y Menú */
  section.sliders div.footerBtns button {
    width: 25%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Register Alert Y Menú */
}
