<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seguir Informando | Tesla España</title>
    <link
      rel="shortcut icon"
      href="../resources/images/svg/tesla-logo.svg"
      type="image/svg+xml"
    />
    <link rel="stylesheet" href="../styles/style.css" />

    <link rel="stylesheet" href="../styles/header.css " />
    <link rel="stylesheet" href="../styles/inicioSesion.css" />
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      defer
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      defer
    ></script>
    <script src="../js/tab.js" defer></script>
  </head>
  <body>
    <main class="container-fluid bg-white" id="supportContainer">
      <!--HEADER-->
      <header class="row">
        <!--Navbar TESLA name logo-->
        <nav
          class="col-12 navbar navbar-expand-lg navbar-light px-3 px-md-5 pt-3"
        >
          <div class="navbar-brand d-inline-block m-0 p-0 mr-3">
            <a class="text-dark" href="../index.html">
              <svg
                class="teslaNameLogo tds-icon tds-icon-logo-wordmark tds-site-logo-icon"
                viewBox="0 0 342 35"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 .1a9.7 9.7 0 0 0 7 7h11l.5.1v27.6h6.8V7.3L26 7h11a9.8 9.8 0 0 0 7-7H0zm238.6 0h-6.8v34.8H263a9.7 9.7 0 0 0 6-6.8h-30.3V0zm-52.3 6.8c3.6-1 6.6-3.8 7.4-6.9l-38.1.1v20.6h31.1v7.2h-24.4a13.6 13.6 0 0 0-8.7 7h39.9v-21h-31.2v-7h24zm116.2 28h6.7v-14h24.6v14h6.7v-21h-38zM85.3 7h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zm0 13.8h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zm0 14.1h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zM308.5 7h26a9.6 9.6 0 0 0 7-7h-40a9.6 9.6 0 0 0 7 7z"
                  fill="white"
                ></path>
              </svg>
            </a>
          </div>
          <button
            class="navbar-toggler font-weight-bold p-1 m-0 text-white"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            Menú
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Model S</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Model 3</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Model X</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Model Y</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Powerwall</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Carga</a>
              </li>
            </ul>
            <ul class="navbar-Icons navbar-nav ml-auto pr-4">
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Soporte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Tienda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Cuenta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Menu</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <main class="row m-0 p-2 p-sm-5">
        <section class="col-12 pt-5 d-flex flex-column">
          <h3>Temas de Actualidad</h3>

          <ul
            class="w-100 pt-4 m-0 list-group border border-0 d-sm-flex flex-sm-row justify-content-sm-between"
            style="list-style: none"
          >
            <li class="text-left py-2 m-0">
              <a href="#" class="text-dark"
                >Consejos de conducción en invierno</a
              >
            </li>
            <li class="text-left py-2 m-0">
              <a href="#" class="text-dark">Incentivos</a>
            </li>
            <li class="text-left py-2 m-0">
              <a href="#" class="text-dark">Asistencia sobre Cuenta Tesla</a>
            </li>
            <li class="text-left py-2 m-0">
              <a href="#" class="text-dark">Carga en casa</a>
            </li>
            <li class="text-left py-2 m-0">
              <a href="#" class="text-dark">Supercarga</a>
            </li>
            <li class="text-left py-2 m-0">
              <a href="#" class="text-dark">Visitas a Service</a>
            </li>
          </ul>
        </section>
        <section class="col-12 pt-5 d-flex flex-column">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active tabBtn px-sm-5"
                id="home-tab"
                data-bs-toggle="tab"
                data-bs-target="#home"
                type="button"
                role="tab"
                aria-controls="home"
                aria-selected="true"
              >
                Vehículos
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link tabBtn px-sm-5"
                id="profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#profile"
                type="button"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
              >
                Energía
              </button>
            </li>
          </ul>
          <div class="tab-content pt-3" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <section class="row">
                <section class="col-12 col-sm-4 py-3 px-1">
                  <h4>Características y carga</h4>
                  <ul
                    class="w-100 pt-3 m-0 list-group border border-0 d-flex flex-column justify-content-start"
                    style="list-style: none"
                  >
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark"
                        >Actualizaciones de software</a
                      >
                    </li>
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark">Supercarga</a>
                    </li>
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark">Carga en casa</a>
                    </li>
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark"
                        >Características de seguridad</a
                      >
                    </li>
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark">Guía para taxis de Tesla</a>
                    </li>
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark">Piloto automático</a>
                    </li>
                  </ul>
                </section>
                <section class="col-12 col-sm-4 py-3 px-1">
                  <h4>Servicio y reparación de carrocería</h4>
                  <ul
                    class="w-100 pt-3 m-0 list-group border border-0"
                    style="list-style: none"
                  >
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark"
                        >Guía para hacerlo usted mismo</a
                      >
                    </li>
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark">Visitas a Service</a>
                    </li>
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark"
                        >Buscar un taller de carrocería</a
                      >
                    </li>
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark">Asístencia en carretera</a>
                    </li>
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark">Garantía del vehículo</a>
                    </li>
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark">Seguro de extensión</a>
                    </li>
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark">InsureMyTesla</a>
                    </li>
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark">Sostenibilidad</a>
                    </li>
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark"
                        >Mantenimiento de neumáticos</a
                      >
                    </li>
                  </ul>
                </section>
                <section class="col-12 col-sm-4 py-3 px-1">
                  <h4>Cuenta Tesla</h4>
                  <ul
                    class="w-100 pt-3 m-0 list-group border border-0"
                    style="list-style: none"
                  >
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark">Aplicacion de Tesla</a>
                    </li>
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark">Recomendar y ganar</a>
                    </li>
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark"
                        >Asistencia sobre cuenta tesla</a
                      >
                    </li>
                    <li class="text-left py-2 m-0">
                      <a href="#" class="text-dark">Asístencia en carretera</a>
                    </li>
                  </ul>
                </section>
              </section>
            </div>
            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <section class="row">
                <section class="col-12 py-3 px-1">
                  <h4>Powerwall</h4>
                </section>
                <section class="col-12 py-3 px-1 row">
                  <section class="col-12 d-md-none">
                    <ul
                      class="w-100 pt-3 m-0 list-group border border-0 d-flex flex-column justify-content-start"
                      style="list-style: none"
                    >
                      <li class="text-left py-2 m-0">
                        <a href="#" class="text-dark"
                          >Motivos para elegir el Powerwall</a
                        >
                      </li>
                      <li class="text-left py-2 m-0">
                        <a href="#" class="text-dark"
                          >Como funciona el Powerwall</a
                        >
                      </li>
                      <li class="text-left py-2 m-0">
                        <a href="#" class="text-dark">Pida su Powerwall</a>
                      </li>
                      <li class="text-left py-2 m-0">
                        <a href="#" class="text-dark"
                          >Descripción general de la aplicación móvil</a
                        >
                      </li>
                      <li class="text-left py-2 m-0">
                        <a href="#" class="text-dark">Modos de Powerwall</a>
                      </li>
                      <li class="text-left py-2 m-0">
                        <a href="#" class="text-dark"
                          >Preparación para la instalación</a
                        >
                      </li>
                      <li class="text-left py-2 m-0">
                        <a href="#" class="text-dark"
                          >Documentos del propietario</a
                        >
                      </li>
                      <li class="text-left py-2 m-0">
                        <a href="#" class="text-dark">Contacto</a>
                      </li>
                    </ul>
                  </section>
                  <section class="d-none d-md-block col-4">
                    <ul
                      class="w-100 pt-3 m-0 list-group border border-0 d-flex flex-column justify-content-start"
                      style="list-style: none"
                    >
                      <li class="text-left py-2 m-0">
                        <a href="#" class="text-dark"
                          >Motivos para elegir el Powerwall</a
                        >
                      </li>
                      <li class="text-left py-2 m-0">
                        <a href="#" class="text-dark"
                          >Como funciona el Powerwall</a
                        >
                      </li>
                      <li class="text-left py-2 m-0">
                        <a href="#" class="text-dark">Pida su Powerwall</a>
                      </li>
                    </ul>
                  </section>
                  <section class="d-none d-md-block col-4">
                    <ul
                      class="w-100 pt-3 m-0 list-group border border-0 d-flex flex-column justify-content-start"
                      style="list-style: none"
                    >
                      <li class="text-left py-2 m-0">
                        <a href="#" class="text-dark"
                          >Descripción general de la aplicación móvil</a
                        >
                      </li>
                      <li class="text-left py-2 m-0">
                        <a href="#" class="text-dark">Modos de Powerwall</a>
                      </li>
                      <li class="text-left py-2 m-0">
                        <a href="#" class="text-dark"
                          >Preparación para la instalación</a
                        >
                      </li>
                    </ul>
                  </section>
                  <section class="d-none d-md-block col-4">
                    <ul
                      class="w-100 pt-3 m-0 list-group border border-0 d-flex flex-column justify-content-start"
                      style="list-style: none"
                    >
                      <li class="text-left py-2 m-0">
                        <a href="#" class="text-dark"
                          >Documentos del propietario</a
                        >
                      </li>
                      <li class="text-left py-2 m-0">
                        <a href="#" class="text-dark">Contacto</a>
                      </li>
                    </ul>
                  </section>
                </section>
              </section>
            </div>
          </div>
        </section>
      </main>
    </main>
    <footer class="row m-0 p-0 bg-white">
      <ul
        class="col-12 p-2 m-0 list-group border border-0 d-sm-flex flex-sm-row justify-content-sm-around"
      >
        <li class="list-group-item text-center p-0 m-0 bg-white">
          <a href="#" class="font-weight-bold text-dark">Tesla &copy; 2023</a>
        </li>
        <li class="list-group-item text-center p-0 m-0 bg-white">
          <a href="#" class="font-weight-bold text-dark">Privacidad y legal</a>
        </li>
        <li
          class="d-none d-sm-block list-group-item text-center p-0 m-0 bg-white"
        >
          <a href="#" class="font-weight-bold text-dark">Contacto</a>
        </li>
        <li class="list-group-item text-center p-0 m-0 bg-white">
          <a href="#" class="font-weight-bold text-dark">Noticias</a>
        </li>
        <li
          class="d-none d-sm-block list-group-item text-center p-0 m-0 bg-white"
        >
          <a href="#" class="font-weight-bold text-dark">Seguir Informando</a>
        </li>
        <li
          class="d-none d-sm-block list-group-item text-center p-0 m-0 bg-white"
        >
          <a href="#" class="font-weight-bold text-dark"
            >Localización de tiendas</a
          >
        </li>
      </ul>
    </footer>
  </body>
</html>
