main#supportContainer article ul a {
  font-size: 0.8rem;
}

ul[data-type="actualidad"] {
  font-size: 0.9rem;
}

/*
white #E9EAEB
light brown #4A4B4D
*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  main#supportContainer article ul a {
    font-size: 0.9rem;
  }
  ul[data-type="actualidad"] {
    font-size: 0.9rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Register Alert Y Menú */
  main#supportContainer article ul a {
    font-size: 1rem;
  }
  ul[data-type="actualidad"] {
    font-size: 0.9rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Register Alert Y Menú */
  main#supportContainer article ul a {
    font-size: 1rem;
  }
  ul[data-type="actualidad"] {
    font-size: 0.9rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Register Alert Y Menú */
  main#supportContainer article ul a {
    font-size: 1rem;
  }
  ul[data-type="actualidad"] {
    font-size: 1rem;
  }
}
